body{
  background-color: black ;
}
.card{
  display: flex;
  justify-content: space-around;
  width: 13rem;
  height: 20rem;
  align-items: center;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0,0,0,0.4);
  color: blanchedalmond;
  border-color: blanchedalmond;
  margin-bottom: 15px;
}
.card:hover{
  transform: scale(1.1);
  margin: 5px 5px;
  opacity: 1;
}
h3{
  color: blanchedalmond;
}
.heading{
  color: blanchedalmond;
  background-color: purple;
  font-size: 25px;
  text-align: center;
  height: 100%;
  font-weight: bold;
  margin:0px;
  padding: 20px;
}

h4{
  margin-top: 30px;
}
.btn-danger{
  background-color: rgb(167, 10, 172);
  border-color: blanchedalmond;
  border-radius: 5px;
  margin-top: auto;
}
.card-footer{
  align-content: flex-end;
}
.nav{
  margin-bottom: 20px;
}
.dropdown{
  display: flex;
  justify-content: left;
}
#dropdownMenuButton1{
  background-color: rgb(167, 10, 172);
  color: white;
  border-color: blanchedalmond;
}
.dropdown-menu{
  background-color: wheat;
}
#add-button{
  background-color: rgb(167, 10, 172);
  color: white;
  border-color: blanchedalmond;
  margin-right: -420px;
}
.row{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.pagination{
  display: flex;
  justify-content: center;

}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.modal-content {
  background-color: wheat;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}
  .modal-body{
    width: 100%;
    height: 100%;
    background-color:wheat;
    padding: 0px 0px 0px 0px;
    justify-content: center;
  }
  #image{
      align-content: center;
  }
  #submitBtn{
    background-color: rgb(126, 28, 126);
  }
  .btn-close{
    color: red;
  }
  .table{
    border-radius: 12px;
  }
  .tableHeadings{
    color: darkmagenta;
  }
  a{
    text-decoration: none;
    color: white;
  }
  #Prev{
    background-color: rgb(167, 10, 172);
    color: blanchedalmond;
    border-radius: 5px;
    border-color: blanchedalmond;
  }
  #Next{
    background-color: rgb(167, 10, 172);
    color: blanchedalmond;
    border-radius: 5px;
    border-color: blanchedalmond;

  }
  
  