body{
    min-height: 100vh;
    background-color: black;
    justify-content: center;
    text-align: center;
}

h1{
    color: white;
    background-color:linear-gradient( #a4508b , #5f0a87);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    padding-top: 20px;
    margin-top: 20px;
}
h4{
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 35px;
    margin-bottom: 12px;
    padding-top: 20px;
}
.Explore-button{
    background-color: purple;
    margin-top: 150px;
    border-radius: 10px;
    border: none;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
