body{
    min-height: 100vh;
    background-color: #978bff;
}
h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
    color:rgb(22, 25, 163)
}
.form-control{
    margin: 5px;
    margin-left: 150px;
    margin-right: 0px;
    padding: 12px;
}
.add-button{
    margin-right: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.list-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-list{
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: auto;
    padding-left: 0px;
}
.main-list{
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
}
.main-data{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}
.btn-danger{
    font-size: 15px;
    border-radius: 2rem;
    border: none;
}